.header{
    background: #2f302e;
    color: cornsilk;
    text-align: center;
    font-size: 30px;
}
.nav {
    text-align: center;
    padding: 19px;
    background-color: black;
    color: bisque;
}
.container{
    padding: 30px;
}
.box{
    width: 250px;
    border: 2px solid black;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    background-color: burlywood;
}
.boxa{
    width: 250px;
    border: 2px solid black;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    background-color: burlywood;
}
button{
    background-color: aqua;
    color: antiquewhite;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}
.boxb{
      width: 250px;
    border: 2px solid black;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    background-color: burlywood;
}
.box-main{
    display: flex;
    flex-direction: row;
}
table th,tr{
    width: 1000px;
}
form input{
    width: 100%;
}
form textarea{
    width: 100%;
}
.form-button{
    width: 100%;
    background-color: black;
   
}
.footer{
    background-color: black;
    color: white;
    text-align: center;

}